<a href="https://colab.research.google.com/github/KETHAVATHSUNITHA/Workforce-Retention-System/blob/main/my__pandas_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#pandas is more advanced than advanced excel
#pandas --> Mc Kinney--->2008
#what is pandas?
#open source library, mainly works with relational or lebeled data base
#why we are using pandas?
#fast, high-performance, and productive
#what is the functions of pandas?
#Analysing, cleaning, exploring,manipulating the data

In [ ]:
#what is Data Cleaning?
#delete irrelevent rows/ wrong values, empty or null values, and correction of data types,duplicates..etc

In [ ]:
#why we are using pandas?
"""1. fast and efficient data manipulation and analysing
   2. easy to load the data
   3. easy to insert and delete the columns
   4. flexible reshaping and pivoting the data sets
   5. time series analysis and functionality
   6. data visualisation
   7. split-apply-combine operations
   8. group by functionality"""

'1. fast and efficient data manipulation and analysing\n   2. easy to load the data\n   3. easy to insert and delete the columns\n   4. flexible reshaping and pivoting the data sets\n   5. time series analysis and functionality\n   6. data visualisation\n   7. split-apply-combine operations\n   8. group by functionality'

**installation of pandas**

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [ ]:
#what is pip?
#pip is a python package manager
#what is module?
#module is a file where it is having predefined functions and global varaibles
#what is library
#it is also similar to module where it is having inbuilt codes

In [ ]:
#import pandas
import pandas as pd

In [ ]:
#How many types of data structures do we have in pandas?
#there are 3types
#1d-->series, 2d--->dataframe, 3d--->panel

#1D--> Series

series are nothing 1d labeled array which holds --> int,float,str,object

In [ ]:
import numpy as np

In [ ]:
a = np.array([1,2,3,4])
print(a)
a.ndim  #to find the dimesionality of an array
a

[1 2 3 4]

array([1, 2, 3, 4])

In [ ]:
print(a[0])
print(a[2])

1
3

In [ ]:
sr = pd.Series(a)
print(sr)

0    1
1    2
2    3
3    4
dtype: int64

In [ ]:
#HOW can we change the lables
sr = pd.Series(a,index=['a','b','c','d'])
print(sr)

a    1
b    2
c    3
d    4
dtype: int64

In [ ]:
#create a series from the dictionary?
d = {"name":"shah",
     "age":28,
     "occupation":"ds",
     "address":'hyderabad'}
sr = pd.Series(d)
print(sr)
print(type(sr))
#how can we represent series in pandas?
#<class 'pandas.core.series.Series'>

name               shah
age                  28
occupation           ds
address       hyderabad
dtype: object
<class 'pandas.core.series.Series'>

In [ ]:
#change the labels as "a b c d"---> we cannot rreplace the labels from dictionary in series
sr = pd.Series(d,index=['a','b','c','d'])
print(sr)

a    NaN
b    NaN
c    NaN
d    NaN
dtype: object

In [ ]:
#print the dictionary with specific key values -->yes we can do provide key names in the index
sr = pd.Series(d,index=['name','age'])
print(sr)

name    shah
age       28
dtype: object

In [ ]:
h = ("apple","banana","pinepple","lemon")
sr = pd.Series(h,index=['a','b','c','d'])
print(sr)

a       apple
b      banana
c    pinepple
d       lemon
dtype: object

In [ ]:
#can we create a series from set?
u = {'apple','banana','pineapple'}
sr = pd.Series(u)   #'set' type is unordered
print(sr)
#note:- we cannot build the series from sets bcz it is unordered

series

how can we create series-->   pd.Series(collection_name)

how can we chnage labels---> pd.Series(collection_name, index=['a','b'...etc])

can we create a series from sets---> no bcz sets are unordered

#2D --> DataFrame

In [ ]:
#what is a dataframe>
#2d-size, mutable, heterogenous data with labeled axis(rows and columns)
#cols:- is also known as  "features", 'varaibles','fields','dimension'
#rows:- is also known as 'records','values','index'

In [ ]:
#what is the applications of df?
#works on datasets
#analysis
#dropping
#processing
#cleaning
#join the multiple data
#create,excel,csv,json,binary files
#compute mathametical and statistical operations
#use groupby functions

30-11-2024

In [ ]:
import pandas as pd

In [ ]:
#create a data frame
data = {"name":"a", "b":[1,2],"c":[11,12],"d":"apple"}
print(data)

{'name': 'a', 'b': [1, 2], 'c': [11, 12], 'd': 'apple'}

In [ ]:
df = pd.DataFrame(data)
print(df)

  name  b   c      d
0    a  1  11  apple
1    a  2  12  apple

In [ ]:
l = [1,2,3,4]
df=pd.DataFrame(l)
df

   0
0  1
1  2
2  3
3  4

In [ ]:
#can we create a dataframe from set-->yes
s1 = {1,2,3,4}
s2 = {"apple","banana","apple","lemon"}
df = pd.DataFrame(s2)
df

        0
0  banana
1   lemon
2   apple

**importing and exporting the Data Frames**

In [ ]:
#1.CSV ---> comma,seprate,value
#read the csv file by using the pandas
df = pd.read_csv("/content/sample_data/california_housing_train.csv")
#read the content the csv for i want to read 1st 5 rows in above df
df.head() #df.head() by default prints 5 rows
#how can i read 10 rows
df.head(10)
#convert or export the df in to excel file
#syntax:- df.to_excel("fill_nmae.xlsx")
df.to_excel("sample.xlsx")

In [ ]:
#red the excel file by uing the pandas
#pd.read_excel
df2 = pd.read_excel("/content/sample.xlsx")
#i want to read last 5 roes of the data
df2.tail() #by default tail() can read last 5 rows
#convert the above excel file to the json format
df2.to_json('sample.json')

**Data Frame function**

In [ ]:
#take any csv file
#step1:-- read the data
df = pd.read_csv("/content/sample_data/california_housing_train.csv")

In [ ]:
#step2:- check the size and index of the df
df.size       # size---> No.of rows * No of columns
#index--> gives the range of index start to end(start,stop,step)
df.index

RangeIndex(start=0, stop=17000, step=1)

In [ ]:
#read the columns of your df
#i want to know what are all col names
df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'],
      dtype='object')

In [ ]:
#how can i get the overall information of df
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17000 entries, 0 to 16999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           17000 non-null  float64
 1   latitude            17000 non-null  float64
 2   housing_median_age  17000 non-null  float64
 3   total_rooms         17000 non-null  float64
 4   total_bedrooms      17000 non-null  float64
 5   population          17000 non-null  float64
 6   households          17000 non-null  float64
 7   median_income       17000 non-null  float64
 8   median_house_value  17000 non-null  float64
dtypes: float64(9)
memory usage: 1.2 MB

This Data set is having 17000 rows and 9 columns

there are no null values

for all the columns the data types is "float"

In [ ]:
#print the dtype for df?
print(df.dtypes)

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
dtype: object

In [ ]:
#how to describe the over all data according to statistics?
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000
mean,-119.562108,35.625225,28.589353,2643.664412,539.410824,1429.573941,501.221941,3.883578,207300.912353
std,2.005166,2.137340,12.586937,2179.947071,421.499452,1147.852959,384.520841,1.908157,115983.764387
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.790000,33.930000,18.000000,1462.000000,297.000000,790.000000,282.000000,2.566375,119400.000000
50%,-118.490000,34.250000,29.000000,2127.000000,434.000000,1167.000000,409.000000,3.544600,180400.000000
75%,-118.000000,37.720000,37.000000,3151.250000,648.250000,1721.000000,605.250000,4.767000,265000.000000
max,-114.310000,41.950000,52.000000,37937.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [ ]:
#i want to check last 10 rows of my df?
df.tail(10)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
16990,-124.22,41.73,28.0,3003.0,699.0,1530.0,653.0,1.7038,78300.0
16991,-124.23,41.75,11.0,3159.0,616.0,1343.0,479.0,2.4805,73200.0
16992,-124.23,40.81,52.0,1112.0,209.0,544.0,172.0,3.3462,50800.0
16993,-124.23,40.54,52.0,2694.0,453.0,1152.0,435.0,3.0806,106700.0
16994,-124.25,40.28,32.0,1430.0,419.0,434.0,187.0,1.9417,76100.0
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

In [ ]:
#check weather the null values present or not?
#df.isna() returns the boolean expression if null values present then it print "True" no null means false
df.isna()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
16995,False,False,False,False,False,False,False,False,False
16996,False,False,False,False,False,False,False,False,False
16997,False,False,False,False,False,False,False,False,False
16998,False,False,False,False,False,False,False,False,False
16999,False,False,False,False,False,False,False,False,False

In [ ]:
#How to print the sum() null values?
df.isna().sum()
df.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
dtype: int64

In [ ]:
#how can we drop the null values from df?
df.dropna()
#df.dropna(axis=0,how= any/all, thresh=None,subset=None,inplace= True)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

**accessing DF**

In [ ]:
df.columns

In [ ]:
#read or access the column total_bedrooms
df['total_bedrooms']
#read 1st 5 ows of the total_bedrooms
df['total_bedrooms'].head()

In [ ]:
#i want to read the 1st row of the tota_bedroom column
df['total_bedrooms'][0]

In [ ]:
#read the mulitple columns at a time from above df
df[['housing_median_age', 'total_rooms','total_bedrooms', 'population', 'households']].head()

In [ ]:
#locating the rows
#use the "df.loc"
#df.loc[index]
df.loc[0]
#df.loc[start:end]
df.loc[2:5]
#read the rows with even and odd position[start:end:step]
df.loc[0:100:2]

In [ ]:
#i want to display the even position characters of particular column
df.loc[0::2, 'total_bedrooms']

In [ ]:
df.loc[0::2,['total_rooms','total_bedrooms']]

In [ ]:
#apply the conditions for the columns
df.loc[df['total_bedrooms']%2 != 0]

In [ ]:
#print the paricuar column value with bedroom with even value
#df['total_bedrooms'] % 2 == 0 #check even and odd values in column
df_even = df[df['total_bedrooms']%2==0]['total_bedrooms']
df_even

In [ ]:
df.shape

In [ ]:
df.loc[[1548,1678,1540]]

**02-12-2024**

In [ ]:
#iloc:- pass axes numbers for index and columns
import pandas as pd
df = pd.read_csv("/content/sample_data/california_housing_train.csv")

In [ ]:
#print the names of the above df column
df.columns

In [ ]:
#syntax:- df.iloc['row_index','column index']

In [ ]:
df.head()

In [ ]:
#latitude	housing_median_age	total_rooms	total_bedrooms and print1st 3 rows
df.iloc[0:3,1:5]

In [ ]:
df.iloc[1,3]

In [ ]:
df['total_rooms'][1]

In [ ]:
#what is the difference between loc and iloc?
#loc support filtering and iloc doesn't support filtering
#we can apply in the loc and we caanot apply conditions in iloc
df.loc[0:3] #locating the rows
df.loc[df['total_rooms']%2==0]

In [ ]:
df.iloc[df['total_rooms']%2==0] #NotImplementedError: iLocation based boolean indexing on an integer type is not available

In [ ]:
#remove and find the duplices from df
df.duplicated().sum()

In [ ]:
#drop duplicated
df.drop_duplicates(inplace= True)

In [ ]:
#how can we find the unique values?
df['households'].unique()

In [ ]:
df['total_bedrooms'].value_counts()

In [ ]:
#df.head()
#df.tail()
#df.dtypes
#df.shape-->prints the rows and cols
#df.size--->print rows*cols
#df.columns
#df.info()---> print the overall information about df
#df.describe()---> describe the df in the mean of stats
#df.isnull().sum()-->total number of null values
#df.fillna()--> fill the null values
#df.loc[]-->locates the rows
#df.iloc ---> locates elements
#df.duplicated()
#df.drop_duplicates()--->remove duplicates
#df[column_name].unique() -->prints list of uniques value
#df[column_name].value_counts()---> frequenency of each element

**Applying filters on Data set**

In [ ]:
#How to apply filters on the dataset
#By using the apply()-->it takes an function as an argument and apply to eacj item in the data set
#df.apply(function,convert_dtype=True, arg())

In [ ]:
d = {
    'name': ['a','b','c','d','e'],
    'marks':[56,70,40,80,90]
}
#convert the above dictonary to data_frame
df = pd.DataFrame(d)
df

In [ ]:
#create a function so it can print pass por fail
def funct(num):
  if num >= 45:
    print("pass")
  else:
    print('fail')

In [ ]:
df['marks'].apply(funct)
df['marks']

In [ ]:
#map()by using this method it transforms the values in series  using the specific mapping data
data = {
    'Grades':['A','B','C','D','E'],
}
df = pd.DataFrame(data)
df

In [ ]:
grades = {'A':'Excellent',"B":'good',"c":"Fair","D":"pass","E":"Fail"}
#syntax new_sr = old.sr.map(mapping)
df['Grades'] = df['Grades'].map(grades)
df

**Time series**

In [ ]:
#what is time series data?
"""Time series data is a sequence of data points in cronological order that is used by
business to analyze the past data and make the future predictions"""
#ex:- weather forcast
#No of taxi rides in a month
#predicting a company stock price for the next day

In [ ]:
#components of the time series
#it is consist of 4 components
#1. Trend Component:- This is a varaiation that moves up or down ina predictable pattern over long period
#2.sesonality component:- The variation  that is regualr and periodic and repeats itself over a specific period
    #ex:- such as days, weeks, or the months, seasons
#3. cyclic component:- is the variation that corresponds with business or economic,  "boom-bust"  cycles it folows their own peculiar cycles
#4.Randomn component:- irregular component

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
#how can we genrate a date range in pandas
#pd.date_range('start date', periods = , freq= )
rng = pd.date_range('1/12/2024',periods = 200, freq = 's')
print(rng)

In [ ]:
ts = pd.Series(np.random.randint(0,200,len(rng)),index = rng)
ts.head()

In [ ]:
ts = pd.Series(np.random.randint(0,200,len(rng)),index=rng)
ts.shape

In [ ]:
#sum the random numbers upto 2min
ts.resample('2min').sum()

pivot table

In [ ]:
df = pd.DataFrame(
    {
        "A":['one','one','two','three'] *3,
        "B":['A','B','C']*4,
        "C":['food','food','food','drink','drink','drink']*2,
        'D':np.random.randint(0,12, size = 12),
        'E':np.random.randint(0,12,size= 12),

    }
)
df

In [ ]:
#pd.pivot_table()
pd.pivot_table(df,values='D',index=['A','B'],columns=['C'])

**group by**

-- splitting

-- applying

-- combining

In [ ]:
df = pd.DataFrame(
    {
        "A":['one','one','two','three'] *3,
        "B":['A','B','C']*4,
        "C":['food','food','food','drink','drink','drink']*2,
        'D':np.random.randn(12),
        'E':np.random.randn(12)

    }
)
df

In [ ]:
#grouby function is applicable with the aggregate function
#min, max, sum(),avg, count,median, var,std

In [ ]:
#print the sum of food and drink  for "D" and "E"
df.groupby("C")[["D","E"]].std()

In [ ]:
df.groupby(['A','C']).sum()

In [ ]:
df.describe()

#Merging 2 data frames

In [ ]:
left = pd.DataFrame({'key':['food','Food'],'lval':[1,2]})
right = pd.DataFrame({'key':['food','Food'],'rval':[3,4]})
pd.merge(left,right, on = "key")

In [ ]:
df

In [ ]:
pieces = [df[:4],df[4:9],df[9:]]
pieces

In [ ]:
#combine this data
pd.concat(pieces)

In [ ]:
https://www.plus2net.com/python/pandas-student.php              #apply all the commands with student data

**03/12/24**

In [ ]:
import pandas as pd
df = pd.read_csv("/content/student.csv")

In [ ]:
df.head()

In [ ]:
df.head(10)

In [ ]:
df.tail()

In [ ]:
df.size

In [ ]:
df.index

In [ ]:
df.columns

In [ ]:
df.info()

In [ ]:
print(df.dtypes)

In [ ]:
df.describe()

In [ ]:
df.isna()

In [ ]:
df.isnull()

In [ ]:
df.dropna()

In [ ]:
df.loc[0:10]

In [ ]:
df.iloc[0:10]

In [ ]:
df.shape

In [ ]:
df.duplicated()

In [ ]:
df.duplicated().sum()

In [ ]:
df[id].unique()

# step 1

In [ ]:
import pandas as pd
df = pd.read_csv("/content/movies_metadata(1).csv")

<ipython-input-60-33548a4bc0b8>:2: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("/content/movies_metadata(1).csv")

In [ ]:
df

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [ ]:
df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [ ]:
df.tail()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [ ]:
df.shape

(45466, 24)

In [ ]:
df.describe()

            revenue       runtime  vote_average    vote_count
count  4.546000e+04  45203.000000  45460.000000  45460.000000
mean   1.120935e+07     94.128199      5.618207    109.897338
std    6.433225e+07     38.407810      1.924216    491.310374
min    0.000000e+00      0.000000      0.000000      0.000000
25%    0.000000e+00     85.000000      5.000000      3.000000
50%    0.000000e+00     95.000000      6.000000     10.000000
75%    0.000000e+00    107.000000      6.800000     34.000000
max    2.787965e+09   1256.000000     10.000000  14075.000000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

#adult

In [ ]:
#print the values
df['adult'].values

array(['False', 'False', 'False', ..., 'False', 'False', 'False'],
      dtype=object)

In [ ]:
df['adult'].unique()

array(['False', 'True', ' - Written by Ørnås',
       ' Rune Balot goes to a casino connected to the October corporation to try to wrap up her case once and for all.',
       ' Avalanche Sharks tells the story of a bikini contest that turns into a horrifying affair when it is hit by a shark avalanche.'],
      dtype=object)

In [ ]:
df['adult'].isin(['False','True'])

0        True
1        True
2        True
3        True
4        True
         ...
45461    True
45462    True
45463    True
45464    True
45465    True
Name: adult, Length: 45466, dtype: bool

In [ ]:
# "~" this except sybol is used to not count
df.loc[~df['adult'].isin(['False','True']),:]

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
19730,- Written by Ørnås,0.065736,/ff9qCepilowshEtG2GYWwzt2bs4.jpg,"[{'name': 'Carousel Productions', 'id': 11176}...","[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",1997-08-20,0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29503,Rune Balot goes to a casino connected to the ...,1.931659,/zV8bHuSL6WXoD6FWogP9j4x80bL.jpg,"[{'name': 'Aniplex', 'id': 2883}, {'name': 'Go...","[{'iso_3166_1': 'US', 'name': 'United States o...",2012-09-29,0,68.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,...,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35587,Avalanche Sharks tells the story of a bikini ...,2.185485,/zaSf5OG7V8X8gqFvly88zDdRm46.jpg,"[{'name': 'Odyssey Media', 'id': 17161}, {'nam...","[{'iso_3166_1': 'CA', 'name': 'Canada'}]",2014-01-01,0,82.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,...,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df['adult'].value_counts()

adult
False    45454
True         9
Name: count, dtype: int64

In [ ]:
#instead of droping my data choose the data
df = df.loc[df['adult'].isin(['False','True']),:]

In [ ]:
df['adult'].value_counts()

adult
False    45454
True         9
Name: count, dtype: int64

In [ ]:
df['adult'].dtypes
df['adult'].unique()

array(['False', 'True'], dtype=object)

In [ ]:
df.dtypes

adult                     object
belongs_to_collection     object
budget                    object
genres                    object
homepage                  object
id                        object
imdb_id                   object
original_language         object
original_title            object
overview                  object
popularity                object
poster_path               object
production_companies      object
production_countries      object
release_date              object
revenue                  float64
runtime                  float64
spoken_languages          object
status                    object
tagline                   object
title                     object
video                     object
vote_average             float64
vote_count               float64
dtype: object

In [ ]:
#use the map function to update the values
df['dult'] = df['adult'].map({'False':False,'True':True})

<ipython-input-76-e7983ff8e9af>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['dult'] = df['adult'].map({'False':False,'True':True})

In [ ]:
df['adult'].value_counts()

adult
False    45454
True         9
Name: count, dtype: int64

In [ ]:
df['adult'].isnull().sum()

0

In [ ]:
df['adult'] = df['adult'].astype('bool')

<ipython-input-78-cf342a6cb396>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['adult'] = df['adult'].astype('bool')

In [ ]:
df['adult'].value_counts()

adult
True    45463
Name: count, dtype: int64

In [ ]:
df.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count', 'dult'],
      dtype='object')

#belongs to the collection

In [ ]:
import numpy as np

In [ ]:
df['belongs_to_collection'].values[0]#entire index values

"{'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg', 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}"

In [ ]:
df['belongs_to_collection'].head(1)

0    {'id': 10194, 'name': 'Toy Story Collection', ...
Name: belongs_to_collection, dtype: object

In [ ]:
df['belongs_to_collection'].values

array(["{'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg', 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}",
       nan,
       "{'id': 119050, 'name': 'Grumpy Old Men Collection', 'poster_path': '/nLvUdqgPgm3F85NMCii9gVFUcet.jpg', 'backdrop_path': '/hypTnLot2z8wpFS7qwsQHW1uV8u.jpg'}",
       ..., nan, nan, nan], dtype=object)

In [ ]:
a = {
    'id': 10194, 'name': 'Toy Story Collection',
    'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg',
    'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg',

    }

#05/12/2024

In [ ]:
import pandas as pd

In [ ]:
df.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count', 'dult'],
      dtype='object')

In [ ]:
df['genres'].values[0]

"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]"

In [ ]:
df['genres'].unique()

array(["[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]",
       "[{'id': 12, 'name': 'Adventure'}, {'id': 14, 'name': 'Fantasy'}, {'id': 10751, 'name': 'Family'}]",
       "[{'id': 10749, 'name': 'Romance'}, {'id': 35, 'name': 'Comedy'}]",
       ...,
       "[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name': 'Comedy'}, {'id': 28, 'name': 'Action'}, {'id': 10751, 'name': 'Family'}]",
       "[{'id': 28, 'name': 'Action'}, {'id': 9648, 'name': 'Mystery'}, {'id': 53, 'name': 'Thriller'}, {'id': 27, 'name': 'Horror'}]",
       "[{'id': 10751, 'name': 'Family'}, {'id': 16, 'name': 'Animation'}, {'id': 10749, 'name': 'Romance'}, {'id': 35, 'name': 'Comedy'}]"],
      dtype=object)

In [ ]:
import ast #convrt arrays into string
ast.literal_eval(df['genres'].values[0])

[{'id': 16, 'name': 'Animation'},
 {'id': 35, 'name': 'Comedy'},
 {'id': 10751, 'name': 'Family'}]

In [ ]:
#create a column for each generas ---- and say 1 if the movie have that genre,else put 0
a = {1,2}
a

{1, 2}

In [ ]:
set([1,1,1,2,2,3,4,3,3])

{1, 2, 3, 4}

In [ ]:
#we are going to look at the data and find & put all the unique genres
unique = set()
for i in df['genres']:
  #print(i)
  gen_list = ast.literal_eval(i) #converts from string to list of dict
  for j in gen_list:
    unique.add(j['name'])
print(unique)

{'Music', 'Crime', 'Animation', 'Romance', 'Foreign', 'Horror', 'History', 'Western', 'Documentary', 'Fantasy', 'Action', 'Adventure', 'Comedy', 'Family', 'War', 'Science Fiction', 'Mystery', 'Thriller', 'TV Movie', 'Drama'}

In [ ]:
len(unique)

20

In [ ]:
rows = []
genres = list(unique)
for i in df['genres']:
  gen_list  = ast.literal_eval(i)
  movie_genres = [x['name'] for x in gen_list]
  row = [] #going to store 1's and 0's
  for j in genres:
      row.append(int(j in movie_genres)) # checking weather the genres are present or not
  row.append(row)

In [ ]:
row

[1, 1, 0, 0]

In [ ]:
movie_genres = ['Action','Adventure']
unique = ['Action','Adventure','Family','horror']
row = []
for j in unique:
  row.append(int(j in movie_genres))
row

[1, 1, 0, 0]

In [ ]:
genre = pd.DataFrame(rows,columns = genres)

In [ ]:
genre

Empty DataFrame
Columns: [Music, Crime, Animation, Romance, Foreign, Horror, History, Western, Documentary, Fantasy, Action, Adventure, Comedy, Family, War, Science Fiction, Mystery, Thriller, TV Movie, Drama]
Index: []

In [ ]:
genre.shape

(0, 20)

In [ ]:
df.shape

(45463, 25)

In [ ]:
df

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,dult
0,True,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,False
1,True,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,False
2,True,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,False
3,True,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,False
4,True,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,True,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0,False
45462,True,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0,False
45463,True,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0,False
45464,True,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0,False
45465,True,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0,False

#homepages

In [ ]:
df['homepage']

0        http://toystory.disney.com/toy-story
1                                         NaN
2                                         NaN
3                                         NaN
4                                         NaN
                         ...
45461    http://www.imdb.com/title/tt6209470/
45462                                     NaN
45463                                     NaN
45464                                     NaN
45465                                     NaN
Name: homepage, Length: 45463, dtype: object

In [ ]:
df.isnull().sum()

adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   3
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      3
runtime                    260
spoken_languages             3
status                      84
tagline                  25051
title                        3
video                        3
vote_average                 3
vote_count                   3
dult                         0
dtype: int64

In [ ]:
#calculate the percentage of this null value
df['homepage'].isnull().sum()*100/ df.shape[0]

82.88938257484108

In [ ]:
df['homepage_present'] = (~df['homepage'].isnull())

<ipython-input-160-b103a418dec2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['homepage_present'] = (~df['homepage'].isnull())

In [ ]:
df

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,dult,homepage_present
0,True,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,False,True
1,True,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,False,False
2,True,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,False,False
3,True,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,False,False
4,True,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,True,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0,False,True
45462,True,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0,False,False
45463,True,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0,False,False
45464,True,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0,False,False
45465,True,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0,False,False

In [ ]:
df = df.drop(columns = ['homepage'])

In [ ]:
df

,adult,belongs_to_collection,budget,genres,id,imdb_id,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,dult,homepage_present
0,True,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,...,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,False,True
1,True,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,...,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,False,False
2,True,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,...,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,False,False
3,True,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,...,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,False,False
4,True,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,...,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,True,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,0.072051,...,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0,False,True
45462,True,NaN,0,"[{'id': 18, 'name': 'Drama'}]",111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,0.178241,...,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0,False,False
45463,True,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",0.903007,...,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0,False,False
45464,True,NaN,0,[],227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",0.003503,...,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0,False,False
45465,True,NaN,0,[],461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,0.163015,...,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0,False,False

#ID

In [ ]:
df['id']

0           862
1          8844
2         15602
3         31357
4         11862
          ...
45461    439050
45462    111109
45463     67758
45464    227506
45465    461257
Name: id, Length: 45463, dtype: object

In [ ]:
df['id'].unique()

array(['862', '8844', '15602', ..., '67758', '227506', '461257'],
      dtype=object)

In [ ]:
len(df['id'].unique())

45433

In [ ]:
#drop the duplicates
df = df.drop_duplicates(subset = ['id'])
df.shape

(45433, 25)

In [ ]:
df['id'] = df['id'].astype('int64')

In [ ]:
df['id'].isnull().sum()

0

In [ ]:
df['id']

0           862
1          8844
2         15602
3         31357
4         11862
          ...
45461    439050
45462    111109
45463     67758
45464    227506
45465    461257
Name: id, Length: 45433, dtype: int64

In [ ]:
#we can delete tanglane,imdb,poster path